# Ignore Mac system storage files
.DS_Store
/obj/
profile*
*log
*.data
/Release
/Debug
*.h5
*.dat
.metadata/*
.settings/*
*.xmf
*.py
.cproject
.project
.settings
.metadata/
Debug/
Release/
log
xdmf*
perf.data
Remote*
parties
*.inp
visit*
*.xml
